<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <title>Gerenciar Gifs</title>
</head>
<body>

<form th:action="@{/admin/gif}" method="POST" enctype="multipart/form-data" th:object="${gif}">

    <div class="form-group">
        <input type="text" class="form-control" name="name" id="name" th:field="*{name}" th:placeholder="name"/>
    </div>

    <div class="form-group">
        <input type="text" class="form-control" name="description" id="description" th:field="*{description}" th:placeholder="description"/>
    </div>

    <div class="form-group">
        <input type="text" class="form-control" name="etaRange" id="description" th:field="*{description}" th:placeholder="description"/>
    </div>

    <div class="form-group">
        <input type="file" name="file" />
    </div>

    <div class="form-group">
        <select th:field="*{category.id}">
            <option value="default">Selecione uma categoria</option>
            <option th:each="category: ${categories}" th:value="${category.id}"th:text="${category.name}"/>
        </select>
    </div>

    <div class="form-group">
        <input type="submit" />
    </div>
</form>


</body>
</html>