<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/grid-gifs.css}" />
    <title>NetGifx</title>
</head>
<body>
    <div class="container">
        <div th:each="category : ${categories}">
            <div class="row">
                <div class = "col-sm-9 col-md-6">
                    <label th:text="${category.name}"/>
                </div>
            </div>
            <div class="row">
                <div class = "col-sm-9 col-md-6" th:each="gif : ${category.gifs}">
                    <img th:src="${gif.url}"/>
                </div>
            </div>
        </div>

        <div class="row" th:if="${isAdmin}">
            <a href="/netgifs/admin/home">Gerenciador</a>
        </div>
    </div>

</body>
</html>