<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/grid-gifs.css}" />
    <title>NetGifx</title>
</head>
<body>

    <div>
        <ul class="list-group" th:each="category : ${categories}">
            <li class="list-group-item col-lg-3 col-md-4 col-xs-6" th:each="gif : ${category.gifs}">
                <img th:src="${gif.url}"/>
            </li>
        </ul>
    </div>

    <div th:if="${isAdmin}">
        <a href="/netgifs/admin/home">Gerenciador</a>
    </div>

</body>
</html>