<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/grid-gifs.css}" />
    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script th:src="@{/js/gif.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <title>NetGifx</title>
</head>
<body>
<nav class="navbar navbar-fixed-top color-white">
    <div>
        <div class="navbar-header">
            <a class="navbar-brand cor" href="/netgifs/user/gif"><img class="netgifx-img" th:src="@{/images/netgifx.png}" /> </a>
        </div>
        <div class="navbar-header nav">
            <form th:action="@{/user/gif/search}" method="POST" th:object="${searchRequest}">

                <div class="input-group" style="float:left; width:500px; margin-top:10px;">
                    <input type="text" id="gifName" name="gifName" th:field="*{gifName}" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button">Go!</button>
                    </span>
                </div>
            </form>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="align-right nav">
                <li class="dropdown align-right">
                    <a class="dropdown-toggle cor" style="margin-top:3px;" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="caret" th:text="${session.user.name}"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="cor" href="/netgifs/user/favorite">Favoritos</a>
                        </li>
                        <li>
                            <a class="cor" onclick="logout()" >Logout</a>
                        </li>
                        <li th:if="${session.isAdmin}">
                            <a class="cor" href="/netgifs/admin/home">Administrador</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
<div class="outer">
    <div class="inner">
        <div class="container">
            <div class="row" style="margin-top: 5px;">
                <div class = "cor">
                    <label>Favoritos</label>
                </div>
            </div>
            <div>
                <div class = "layout-gifs" th:each="gif : ${session.favorites}">
                    <img onclick="visualizarGifFavorito(this)" style="max-height: 200px;" th:alt="${gif.description}" th:title="${gif.name}" th:src="${gif.url}"/>
                    <br>
                    <span style="font-weight:bold; color:white;" th:text="${gif.name}"></span>
                </div>
            </div>
        </div>
        <div class="container">
            <div th:each="category : ${categories}">
                <div class="row" style="margin-top: 5px;">
                    <div class = "cor">
                        <label th:text="${category.name}"/>
                    </div>
                </div>
                <div class="row">
                    <div class = "layout-gifs" th:each="gif : ${category.gifs}">
                        <img onclick="visualizarGif(this)" style="max-height: 200px;" th:alt="${gif.description}" th:title="${gif.name}" th:src="${gif.url}"/>
                        <br>
                        <span style="font-weight:bold; color:white;" th:text="${gif.name}"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="myNav" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div id="show-gif" class="overlay-content">

    </div>
</div>


</body>
</html>